
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Raleway:wght@400;500;600;700;800;900&display=swap');
*{
    padding:0;
    margin:0;
}
html{
    font-family: 'Inter', sans-serif;
    font-size:62.5%;
}
a{
    text-decoration:none;
    color:#fff;
}
li{
    list-style-type:none;

}
h3{
    font-size:2rem;
}
h1,h2{
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size:3.2rem;
}

p{
    font-size:1.5rem;
    font-weight:300;
}
button{
    padding:1rem 3rem;
    color:#fff;
    border-radius:2px;
    cursor:pointer;
    border:0;
}
hr{
    margin: 2rem 0 3rem 0;
    width:10rem;
    border:1.5px solid #ff8b38;
}
/* ---------------global-----values------------- */
.wrapper{
    width:85%;
    max-width:1200px;
    margin:auto; 
}
/* ------------header---section----------------- */
header{
    background-color:#1b1b1b;
    height:7.2rem;
    display:flex;
    align-items:center;

}
header .wrapper{
    display:flex;
    align-items:center; 
    justify-content:space-between;
}

header nav ul{
    display:flex;
}

header h1{
    color:#ffffff;
}
header nav ul li{
    margin-left:2rem;

}
header nav ul li a{
    text-decoration:none;
    color:#fff;
    font-size:1.6rem;
}
header .nav-manu-bar .fa-bars{
    display:none;
}


/* --------XXXXXXXXXX------end---header--------XXXXXXXXXX---------------- */




/* ---------------------banner----section---------------- */
main{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("./images/banner.png");
   padding:8rem 0;
}


main  .wrapper{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

main .wrapper #img-and-txt {
    width:50%;

}

main .wrapper #img-and-txt img{
    display:block;
}

main .wrapper #img-and-txt button{
    background:transparent;
    border:2px solid #ffffff;
    margin:3rem 0;
}

main #form--con{
    background-color:#ffffff;
    width:40%;
}
main .wrapper h1 {padding-top:3rem}
main #form--con p{
    background-color:#f5f5f5;
    text-align:center;
    color:black;
    font-weight:500;
    padding: 1rem 0;
}
main #form--con p span{
    color:#ff9b51;
}
main #form--con form{
    display:flex;
    flex-direction: column ;
    height:100%;
    
}
main #form--con form #input-fields{
    display:flex;
    flex-direction:column;
}
main #form--con form input{
    margin:2rem ;
    padding:0.3rem 0;
    border:0;
}

main #form--con form button{
    width:100%;
    background-color:#ff9b51;
}
/* ------XXXXXXXXXXXX-------end--------banner----section-----------XXXXXXXXXXXXXX----- */

/* ---------------social----links------------ */
#social--links--con{
    display:flex;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding:3rem 0;
}
#social--links--con .wrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
}


#social--links--con .wrapper h3{
    margin-bottom:2rem;
}
#social--links--con .wrapper p{
    color:#86878b;
    width:95%
}
#social--links--con .wrapper ul{
    display:flex;
}
#social--links--con .wrapper ul li{
    margin-left:5rem;
    
}

#social--links--con .wrapper ul li i{
    font-size:3rem;
    color:#cccccc;
  
}



/* ----------------------tabs------------------ */
#tabs-con .wrapper{
    display:flex;
}
#tabs-con{
    background-color:#f5f5f5;
    padding:7rem 0;
}
#tabs-con  #tabs-options #active{
    background-color:#ff8b38;
}
#tabs-con  #tabs-options p{
    color:#ffffff;
}
#tabs-con #tabs-options{
    display:grid;
    grid-tempate-column:1fr;
    gap:0.7px;
}

#tabs-con .tabs {
    background-color:#333333;
    margin-bottom:0.8px;
    padding:0 2rem;
    display:flex;
    align-items:center;
}
#tabs-con  h3{
    margin-left:3rem
}
#tabs-con #tabs-text p{
    color:#86878b;
    margin:3rem 0 3rem 3rem;
    width:80%;
}

#tabs-con #tabs-text button{
    background-color:#ff9b51;
    margin-left:3rem
}

#tabs-con #tabs-img  {
    display:flex;
    align-items:center;
}


/* -----------sub-list-con------------------ */

#sub-list-con{
    padding:7rem 0;
}

#sub-list-con .wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
 .wrapper .img-con {
    display:flex;
    align-items:center;   
}

.wrapper .img-con{
    max-width:40rem;
}
 .wrapper .img-con img{
    width:100%;
    display:block;  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



#sub-list-con .wrapper ul li {
    display:flex;
    align-items:center
}
#sub-list-con .wrapper ul li i{
    margin-right:2rem;
    border:2px solid #ff9b51;
    padding :1rem;
    border-radius:50%;
    color:#ff9b51;
}

#sub-list-con .su-list-con-txt{
   margin-left:5rem;
 
}


#sub-list-con .su-list-con-txt li{
    padding:2em 0;
}

#sub-list-con .su-list-con-txt li h5{
    font-size:1.1rem;
}

#standered-picture {
    background-color:#f5f5f5;
    padding:7rem 0; 
}


/* -------------standered---pic------------------ */

#standered-picture .wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:4rem
}


#standered-picture .wrapper #standered-picture-txt :nth-child(3){

    margin-bottom:3rem;
}


/* ----------------------why-choose-us--------------------- */
#why-choose-us{
    padding:7rem 0;
    text-align:center;
}
